page-home {

}

.timer {
	padding:20px;
	border:1px solid #d3d3d3;
}
.rightPane {
	float:right;
	width:40%;
	height:100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}

.playerPane {
	width:100%;
	height:50%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-top: 5px;
    &:first-child {
		transform: rotate(180deg);
	}
	.player {
		border: 1px solid #d3d3d3;
    	padding: 20px;
    	margin-left: 5px;
	}
	.score {
		border: 1px solid #d3d3d3;
    	padding: 20px;
    	margin-left: 5px;
	}
}
.boardPane {
	width:60%;
}
.gamePane {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	align-items: center;
}