page-home {

}

.timer {
	padding:20px;
	border:1px solid #d3d3d3;
	&:first-child {
		transform: rotate(180deg);
	}
}
.rightPane {
	float:right;
	width:50%;
	height:100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}